.profile{
    background-color: #e87373;
    border-radius: 10px;
    padding: 4px;
}
.hero{
    display: flex;
    /* justify-content: end; */
}
.pform{
    display: flex;
    background-color:rgb(212, 228, 222);
    padding-bottom: 10px;
}
.Ebtn.on{
background-color: #e87373;
}
.Ebtn.off{
background-color: #afe9a8;

}